@model Tachey001.ViewModel.Course.AnswerCard

@{ 
    var AToF = false;
}

<div class="media mt-3">
    <img src="@Model.Photo"
         class="mr-3 rounded-circle"
         style="width: 55px; height: 55px;" />
    <div class="media-body">
        <h5 class="mt-0">@Model.Name</h5>
        <p>
            @Model.AnswerContent
        </p>
        <p>
            <span class="">@Model.AnswerDate</span><button class="btn">

    @foreach (var item in Model.AllMemberId)
    {
        if(item == ViewBag.UserId)
        {
            AToF = true;
        }
    }
    @if (AToF)
    {
    <i class="fas fa-heart text-danger ALike" data-CourseId=@Model.CourseID data-MemberId="@ViewBag.MemberId" data-QuestionID="@Model.QuestionID" data-AnswerID="@Model.AnswerID"></i>

    }
    else
    {
    <i class="far fa-heart text-white ALike" data-CourseId=@Model.CourseID data-MemberId="@ViewBag.MemberId" data-QuestionID="@Model.QuestionID" data-AnswerID="@Model.AnswerID"></i>
    }

</button><span class="">@Model.AllMemberId.Count()</span>
        </p>
    </div>
</div>