@model Tachey001.ViewModel.HighlightCourseViewModel
<div class="item">
    <div class="card  position-relative overflow-hidden" style="width: 100%;
        border-radius: 21px;">
        <img src="@Model.TitlePageImageURL" style="width: 355px; height: 220px">
        <div class="backgroundBookmark-me position-absolute text-center">
            <i class="far fa-bookmark hahow-orange line-height-40"></i>
        </div>
        <div class="card-body">
            <div class="card-h4-wrap">
                <h4 class="card-h4">@Model.Title</h4>
            </div>
            <div class="text-right card-RM">RM 443.30</div>
            <div class="card-divide"></div>
            <div class="card-content">
                <div class="card-logo"></div>
                <div class="card-Explan">
                    @Model.Introduction
                </div>
            </div>
        </div>
        <div class="position-absolute bg-hahow-dark-orange text-center text-white backgroundTape">
            上課囉
        </div>
    </div>
    <!-- 字卡 -->
    <div class="card-txt text-left card-1">
        <h3>課程簡介</h3>
        <div>
            <i class="fas fa-hourglass-start"></i>
            <span>@Model.TotalMinTime</span>
        </div>
        <div>
            <i class="fas fa-book"></i>
            <span>4章節15單元</span>
        </div>
        <div>
            <i class="fas fa-user-tag"></i>
            <span>461位同學</span>
        </div>
        <div>
            <i class="fas fa-copy"></i>
            <span>2份作業</span>
        </div>
        <h3 class="my-2">你可以學到的東西</h3>
        <p>
            @Model.Description
        </p>
        <div class="d-flex justify-content-center card-txt-btn">
            <a href="#" class="w-100">
                <button class="w-100 bg-white">瞭解課程內容</button>
            </a>
        </div>
    </div>
    <!-- 字卡 -->

</div>