@model Tachey001.ViewModel.HighlightCourseViewModel

<div class="item">
    <!--大容器-->
    <div class="flip_wrap">
        <!--实现容器翻转-->
        <div class="flip">
            <!--正面-->
            <div class="side front">
                <div class="card  position-relative overflow-hidden" style="width: 100%;
        border-radius: 21px;">
                    <img src="@Model.TitlePageImageURL" style="width: 100%; height: 220px">
                    <div class="backgroundBookmark-me position-absolute text-center">
                        <i class="far fa-bookmark hahow-orange line-height-40"></i>
                    </div>
                    <div class="card-body">
                        <div class="card-h4-wrap">
                            <h4 class="card-h4 text-secondary">@Model.Title</h4>
                        </div>
                        <div class="card-divide"></div>
                        <div class="card-content justify-content-center">
                            @*<div class="card-logo"></div>*@
                            <div class="card-Explan text-secondary ">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute bg-hahow-dark-orange text-center text-white backgroundTape">
                        上課囉
                    </div>
                </div>
            </div>
            <!--反面-->
            <div class="side back">
                <div class="card-txt text-left card-1">
                    <h3>課程簡介</h3>
                    <div>
                        <i class="fas fa-hourglass-start"></i>
                        <span>大約 @Model.TotalMinTime 分鐘</span>
                    </div>
                    <div>
                        <i class="fas fa-book"></i>
                        <span>@Model.chapterCount 章節  @Model.unitCount 單元</span>
                    </div>
                    @*<div>
                        <i class="fas fa-user-tag"></i>
                        <span>461位同學</span>
                    </div>
                    <div>
                        <i class="fas fa-copy"></i>
                        <span>2份作業</span>
                    </div>*@
                    <h3 class="my-2">你可以學到的東西</h3>
                    <p>
                        @Model.Description
                    </p>
                    <div class="d-flex justify-content-center card-txt-btn">
                        <a href="@Url.Action("Main","Courses", new { id = Model.CourseID })" class="w-100">
                            <button class="w-100 bg-white">瞭解課程內容</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
