@model Tachey001.ViewModel.Course.QuestionCard

@{ 
    var QToF = false;
}

<div class="media border p-3" id="ques-@Model.QuestionID">
    <img src="@Model.Photo"
         class="mr-3 rounded-circle"
         style="width: 55px; height: 55px;" />
    <div class="media-body">
        <h5 class="mt-0">@Model.Name</h5>
        <p>
            @Model.QuestionContent
        </p>
        <p>
            <span class="">@Model.QuestionDate</span><button class="btn">

    @if (Request.IsAuthenticated)
    {
        foreach (var item in Model.AllMemberId)
        {
            if (item == ViewBag.UserId)
            {
                QToF = true;
            }
        }
        if (QToF)
        {
            //有按過讚
            <i class="fas fa-heart text-danger QLike" data-CourseId=@Model.CourseID data-MemberId="@ViewBag.MemberId" data-QuestionID="@Model.QuestionID"></i>
        }
        else
        {
            //沒按過讚
            <i class="far fa-heart text-white QLike" data-CourseId=@Model.CourseID data-MemberId="@ViewBag.MemberId" data-QuestionID="@Model.QuestionID"></i>
        }
    }
    else
    {
        <a href="@Url.Action("Login", "Account")" class="text-decoration-none">
            <i class="far fa-heart text-white"></i>
        </a>
        
    }


</button><span class="QLikeNum">@Model.AllMemberId.Count()</span><button class="btn"
                                                    type="button"
                                                    data-toggle="collapse"
                                                    data-target="#collapse-@Model.QuestionID">
                <i class="far fa-comment text-white"></i>
            </button><span id="ques-@Model.QuestionID-count">@Model.AnsAmount</span>
        </p>

        <div id="collapse-@Model.QuestionID" class="collapse" data-parent="#ques-@Model.QuestionID">
            <div id="AnsContainer-@Model.QuestionID">
                @foreach (var ans in Model.GetAnswerCards)
                {
                    @Html.Partial("_AnswerPartial", ans);
                }
            </div>


            @*送出回答*@
            @*@using (Html.BeginForm("CreateAnswer", "Courses", new { CourseId = Model.CourseID, QuestionId = Model.QuestionID }))
    {
        @Html.AntiForgeryToken()*@
            <div class="media mt-3">
                <img src="@Model.CurrentPhoto"
                     class="mr-3 rounded-circle"
                     style="width: 55px; height: 55px;" />
                <div class="media-body">
                    <h5 class="mt-0">@Model.CurrentName</h5>
                    <form action="CreateAnswer" method="post" id="AnsPost-@Model.QuestionID">
                        <p class="pr-4">
                            @Html.TextAreaFor(x => x.PostAnswer.AnswerContent, 4, 80, new { @class = "w-100" })
                        </p>
                    </form>
                    <p class="text-right pr-4">
                        <button class="btn" type="submit" onclick="postAns('@Model.CourseID', '@Model.QuestionID')"><i class="fas fa-edit text-white"></i></button>
                    </p>
                </div>
            </div>
            @* } *@
        </div>
    </div>
</div>