@model OrderRecordOther
@{ 

    var PayDate = "尚未付款";
    var random = new Random().Next(0, 9999);
}}


<div class="container">
    <div class="row px-3 ">
        <div class="col-7 border-right-0 border bg-white">
            <div class=" d-inline-block mr-3 record-color ">
                <div class="record-text py-2">訂單成立:@Model.OrderDate</div>
                <div class="record-text py-2">付款時間:@PayDate</div>
            </div>
            <div class=" d-inline-block record-color ">
                <div class="record-text py-2">付款方式:@Model.PayMethod</div>
                <div class="record-text py-2">實付金額:<span class="record-orange">@Model.UnitPrice</span></div>
            </div>
        </div>
        <div class="col-5 d-flex justify-content-end align-items-center record-text border-left-0 border bg-white">
            <i class="fas fa-check record-green"></i>
            <span>完成付款</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row px-3 ">
        <div class="col-5 p-15 border-right-0 border py-2 bg-white">
            <a href="#">
                <img src="@Model.TitlePageImageURL"
                     alt="" class="record-img mr-2">
            </a>
            <a href="#" class="record-link d-inline-block">
                <span class="record-text">創業先修，你準備好了嗎？</span>
            </a>
        </div>
        <div class="col-7 d-flex justify-content-end align-items-center record-text border-left-0 border bg-white">
            <span>@Model.UnitPrice</span>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row px-3">
        <div class="accordion" id="a@(Model.CourseID)@(Model.OrderID)"></div>
        <div class="card w-100">
            <div id="collapse@(Model.CourseID)@(Model.OrderID)" class="collapse " aria-labelledby="headingOne" data-parent="#a@(Model.CourseID)@(Model.OrderID)">
               
                <div class="wrap bg-orange w-100 border">
                    <h6 class="p-15  w-100  m-0 py-2">課程明細</h6>
                    <div class="wrap d-flex w-100 flex-wrap">
                        <div class="col-lg-6 col-md-6 col-sm-12 fs-12">
                            <span class="border-bottom w-100 d-block">課程名稱</span>
                            <p class="py-1 record-color">@Model.CourseName <br>└訂單編號 @Model.OrderID</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 fs-12 mb-2">
                            <span class="border-bottom w-100 d-block">購買方案</span>
                            <span class="d-block py-1 record-color">@Model.BuyMethod</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 fs-12 mb-2">
                            <span class="border-bottom w-100 d-block">售價</span>
                            <span class="d-block py-1 record-color">@Model.UnitPrice</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 fs-12 mb-2">
                            <span class="border-bottom w-100 d-block">實付價格</span>
                            <span class="d-block py-1 record-color"> @Model.UnitPrice</span>
                        </div>
                        <div class="col-12 text-right fs-20">
                            <span>實付金額:</span>
                            <span>@Model.UnitPrice</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapse@(Model.CourseID)@(Model.OrderID)" aria-expanded="true" aria-controls="collapseOne">
                        <span class="record-arrow"><i class="fas fa-arrow-down"></i></span>
                        <span class="record-detail">查看詳細</span>
                    </button>
                </h2>
            </div>


        </div>
    </div>
</div>
