@model Tachey001.ViewModel.Course.StepGroup

<div class="col-6">
    <div class="row justify-content-center my-4">
        <div class="col-2">
            <a href="" class="text-secondary">課程標題</a>
        </div>
        <div class="col-7">
            @if (Model.course.Title == null)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增課程標題喔～</span>
            }
            else
            {
                <span class="text-secondary">@Model.course.Title</span>
            }
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-2">
            <a href="" class="text-secondary">課程網址</a>
        </div>
        <div class="col-7">
            @if (Model.course.CustomUrl == null)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增課程網址喔～</span>
            }
            else
            {
                <span class="text-secondary">https://localhost:44394/Course/cm/@(Model.course.CustomUrl)</span>
            }

        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-2">
            <a href="" class="text-secondary">課程描述</a>
        </div>
        <div class="col-7">
            @if (Model.course.Description == null)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增課程描述喔～</span>
            }
            else
            {
                <span class="text-secondary">@Model.course.Description</span>
            }
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-2">
            <a href="" class="text-secondary">課程影片</a>
        </div>
        <div class="col-7">
            @if (Model.course.PreviewVideo == null)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增課程影片喔～</span>
            }
            else
            {
                <span class="text-secondary text-break">@Model.course.PreviewVideo</span>
            }
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-2">
            <a href="" class="text-secondary">需要工具</a>
        </div>
        <div class="col-7">
            @if (Model.course.Tool == null)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增需要工具喔～</span>
            }
            else
            {
                <span class="text-secondary">@Model.course.Tool</span>
            }
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-2">
            <a href="" class="text-secondary">背景知識</a>
        </div>
        <div class="col-7">
            @if (Model.course.CourseLevel == null)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增背景知識喔～</span>
            }
            else
            {
                <span class="text-secondary">@Model.course.CourseLevel</span>
            }
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-2">
            <a href="" class="text-secondary">課程成就</a>
        </div>
        <div class="col-7">
            @if (Model.course.Effect == null)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增課程成就喔～</span>
            }
            else
            {
                <span class="text-secondary">@Model.course.Effect</span>
            }
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-2">
            <a href="" class="text-secondary">適合族群</a>
        </div>
        <div class="col-7">
            @if (Model.course.CoursePerson == null)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增適合族群喔～</span>
            }
            else
            {
                <span class="text-secondary">@Model.course.CoursePerson</span>
            }
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-2">
            <a href="" class="text-secondary">課程單元</a>
        </div>
        <div class="col-7">
            @if (Model.courseChapter.Count() == 0)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增課程單元喔～</span>
            }
            else
            {
                <span class="text-secondary">課程共 : @Model.courseChapter.Count() 章節，@Model.courseUnit.Count() 單元</span>
            }
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-2">
            <a href="" class="text-secondary">老師身份</a>
        </div>
        <div class="col-7">
            @if (Model.course.LecturerIdentity == null)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增老師身份喔～</span>
            }
            else
            {
                <span class="text-secondary">@Model.course.LecturerIdentity</span>
            }

        </div>
    </div>
</div>
<div class="col-5">
    <div class="row my-4 border-bottom">
        <div class="col-12 pb-4">
            <a href="" class="text-secondary">詳細的課程內容</a>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12">
            @if (Model.course.Introduction == null)
            {
                <i class="fas fa-exclamation-triangle hahow-orange"></i>
                <span class="text-secondary">還沒有新增詳細的課程內容喔～</span>
            }
            else
            {
                <div class="text-secondary">@Html.Raw(Model.course.Introduction)</div>
            }
        </div>
    </div>
</div>