@model Tachey001.ViewModel.consoleViewModel

@{ 
    var url = Model.CustomUrl == null ? Model.CourseID : Model.CustomUrl;
    var col = 3;

    if (HttpContext.Current.Request.RawUrl == "/Member/Profile")
    {
        col = 4;
    }
}

<div class="col-xl-@col col-lg-4 col-md-6 col-sm-12">
    <div class="card my-5">
        <div class="position-absolute bottom-0 right-0 p-3 rounded-pill" style="z-index: 50; right:0; top:0;">
            <div class="toast hide"
                 id="toast-@Model.CourseID"
                 role="alert"
                 data-delay="1000">
                <div class="toast-body">
                    <h2 class="" id="text-@Model.CourseID" style="color:black !important;"></h2>
                </div>
            </div>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-12">
                <div class="card-title-image position-relative">
                    <div class="
                        backgroundPhoto
                        position-absolute
                        rounded-circle
                        bg-white
                      ">
                        <img src="@Model.Photo"
                             alt="" class="rounded-circle position-absolute center" id="photoImag" />
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2 overflow-hidden mb-2 border card-img-box">
                <a href="@Url.Action("Main", "Courses", new { id = url})" class="text-decoration-none p-0 w-100 h-100">
                    <img src="@Model.TitlePageImageURL"
                         class="card-img-top" style="width: 100%;" />
                    <div class="
                    position-absolute
                    bg-hahow-dark-green
                    text-center text-white
                    backgroundTape
                  ">
                        上課囉
                    </div>
                </a>
                @if (Model.MemberID != User.Identity.GetUserId())
                {
                    if (Request.IsAuthenticated)
                    {
                        if (Model.favorite)
                        {
                            <div class="ToastBtn backgroundBookmark backgroundBookmarkChecked position-absolute text-center bookmarkCheck" data-MemberId="@User.Identity.GetUserId()" data-CourseId="@Model.CourseID">
                                <i class="far fa-bookmark hahow-orange line-height-40"></i>
                            </div>
                        }
                        else
                        {
                            <div class="ToastBtn backgroundBookmark backgroundBookmarkMove position-absolute text-center bookmarkCheck" data-MemberId="@User.Identity.GetUserId()" data-CourseId="@Model.CourseID">
                                <i class="far fa-bookmark hahow-orange line-height-40"></i>
                            </div>
                        }
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" class="text-decoration-none p-0 w-100 h-100">
                            <div class="backgroundBookmark backgroundBookmarkMove position-absolute text-center">
                                <i class="far fa-bookmark hahow-orange line-height-40"></i>
                            </div>
                        </a>
                    }
                }
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 text-justify cardTitle">
                <h4 class="card-title text-justify font-weight-normal text-secondary">
                    @Html.DisplayFor(m => m.Title)
                </h4>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-3 col-6 mb-2">
                <span class="card-text text-black-50">
                    <span class="star-show">
                        <i class="fas fa-star star-gray position-relative">
                            @if (Model.AvgScore > 0)
                            {
                                <i class="fas fa-star star-yellow position-absolute star-display"></i>
                            }
                        </i>
                        <i class="fas fa-star star-gray position-relative">
                            @if (Model.AvgScore > 1)
                            {
                                <i class="fas fa-star star-yellow position-absolute star-display"></i>
                            }
                        </i>
                        <i class="fas fa-star star-gray position-relative">
                            @if (Model.AvgScore > 2)
                            {
                                <i class="fas fa-star star-yellow position-absolute star-display"></i>
                            }
                        </i>
                        <i class="fas fa-star star-gray position-relative">
                            @if (Model.AvgScore > 3)
                            {
                                <i class="fas fa-star star-yellow position-absolute star-display"></i>
                            }
                        </i>
                        <i class="fas fa-star star-gray position-relative">
                            @if (Model.AvgScore > 4)
                            {
                                <i class="fas fa-star star-yellow position-absolute star-display"></i>
                            }
                        </i>
                    </span>
                    (@Model.TotalScore)
                </span>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-2 col-6 mb-2">
                <span class="card-text text-black-50">
                    <span class="couse-time-before">
                        <i class="far fa-clock"></i>
                    </span>
                    <span class="course-time"> @Html.DisplayFor(m => m.TotalMinTime) </span>分鐘
                </span>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-4 col-6 mb-2">
                <span class="card-text text-black-50 mr-4">
                    <span class="course-people-before">
                        <i class="far fa-clock"></i>
                    </span>
                    <span class="course-people"> @Model.CountBuyCourse </span>人
                </span>
                <div class="card-text hahow-dark-green classPrice">
                    <span>@Model.OriginalPrice.ToString("C0")</span>
                </div>
            </div>
            <div class="col-xl-0 col-lg-0 col-md-0 col-sm-3 col-6 mb-2 text-right">
                <span class="backgroundBookmark-sm d-inline-block text-center mx-3">
                    <i class="far fa-bookmark hahow-orange line-height-30"></i>
                </span>
            </div>
        </div>
        <div class="card-bottom bg-hahow-dark-green"></div>
    </div>
</div>
