@model Tachey001.ViewModel.Course.StepGroup
@section topCSS{
    @Styles.Render("~/Assets/css/step.css")
    @Styles.Render("~/Assets/css/memberForStep.css")
    @Styles.Render("~/Assets/css/choice.css")
    <style>
        #chapter i {
            cursor: pointer;
        }

            #chapter i.fa-align-justify {
                cursor: grab;
            }
    </style>
}

@{
    ViewBag.Title = "Step";
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
    var titleText = new List<string>() { "課程標題", "課程目標", "預計單元", "募資條件", "詳細內容", "影片上傳", "課程網址", "開課身份", "準備募資" };

    var num = ViewBag.Id * 11;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-7 my-5 d-flex justify-content-between p-0" id="step-progress">
            <div class="progress position-absolute bg-hahow-orange">
                <div class="progress-bar bg-hahow-green"
                     role="progressbar"
                     id="progress-bar"></div>
            </div>
            <div class="w-100">
                <ul class="nav d-flex justify-content-between position-relative">
                    <li class="nav-item">
                        <a class="tab-btn active" id="step0-tab" data-toggle="tab" href="#step0">
                            <button type="button"
                                    class="btn bg-hahow-green btn-circle stepBtn"
                                    title="開始">
                                0
                            </button>
                        </a>
                    </li>
                    @for (int i = 1; i < 10; i++)
                    {
                        <li class="">
                            <a class="tab-btn" id="step@(i)-tab" data-toggle="tab" href="#step@(i)">
                                <button type="button"
                                        class="btn bg-hahow-orange btn-circle stepBtn"
                                        title="@titleText[i-1]">
                                    @i
                                </button>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.course.CourseID)
    <div class="row justify-content-center">
        <div class="col-12 text-center text-white pl-0">
            <h6 id="titleContentH2">歡迎加入 Tachey 好老師的行列</h6>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center text-white pl-0 mb-1">
            <h4 id="titleContentH4" class="text-center">跟著 Tachey 一步一步完成提案吧！</h4>
        </div>
    </div>
    <div class="row tab-content justify-content-center yellow mb-5" id="contentHTML">

        <div class="tab-pane active" id="step0">
            @Html.Partial($"step/step_0", Model)
        </div>
        @for (int i = 1; i < 10; i++)
        {
            <div class="tab-pane" id="step@(i)">
                @Html.Partial($"step/step_{i}", Model)
            </div>
        }

    </div>

    @*顯示訊息框*@
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;" id="PostMsgBox">

    @*<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto">提示訊息</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <p class="mx-5">檔案上傳中 ... <span id="ProgressMessage">0%</span> </p>
            <div class="progress">
                <div class="progress-bar bg-info" id="ProgressPercent" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>*@

</div>

</div>

@section endJS{
    <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
    @Scripts.Render("~/Assets/js/postStep.js")
    @Scripts.Render("~/Assets/js/choiceForStep.js")
}
