@*因為回傳的是複數所以要用List<>包起來*@
@*@model List<Tachey001.ViewModel.CourseCardViewModel>*@




@model Tachey001.ViewModel.Cart_GroupViewModel
@Styles.Render("~/Assets/css/HAHOWcart.css")
@Styles.Render("~/Assets/css/HAHOWcart-collection.css")
@Styles.Render("~/Assets/css/card.css")
@{
    ViewBag.Title = "購物車";
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}

<main class="content container-fluid">

    <div class="content-1">
        <div class="main-container totallyheight">
            <!-- 右邊 -->
            <div class="right-area">
                <div class="sticky-outer-wrapper active" style="height: 100%;">
                    <div class="sticky-inner-wrapper ">
                        <div class="sc-1t3czdh-0 dfcsU pad-rl-15 pad-b-20 marg-b-20">
                            <div class="sc-1t3czdh-2  gjCOGK">
                                <div class="border-bottom-box">
                                    <h6><b>訂單明細</b></h6>

                                </div>
                                <!-- 小記>約0 -->
                                <div class="border-bottom-box">
                                    <div class="entry sub-total">
                                        <span class="title">總計</span>@*<span class="ntd">@Model.total.ToString("C0")</span>*@
                                    </div>
                                    <div class="paid-in-twd">
                                        @*<div class="text-right">
                                            本交易將以台幣支付&nbsp;<span data-tip="true"
                                                                 data-for="paid-in-twd-tip" aria-hidden="true"
                                                                 class="fa fa-question-circle" currentitem="false"></span>
                                        </div>*@
                                    </div>

                                    <div class="total-amount text-right">
                                        <h3 class="marg-tb-0">@Model.total.ToString("C0")</h3>
                                    </div>
                                    @*<div class="approximate-total text-right">約 @Model.total.ToString("C0")</div>*@
                                </div>
                                <button class="sc-1a6j6ze-0 RcKEn marg-t-20">@Html.ActionLink("來去結帳", "check", "Pay", null, new { @class = "text-white text-decoration-none" })</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 左邊~ -->
            <div class="left-area">
                <div class="cart-area marg-b-60">
                    @*結帳課程卡片*@
                    <h4 class="text-white underline flex align-items-center justify-space-between m-3">
                        <span>
                            <span aria-hidden="true" class="fa fa-shopping-cart"></span>
                            <span class="marg-l-10">
                                購物車
                                <span class="countclass"> 總計一堂課   </span>
                            </span>
                        </span>
                    </h4><div class="col-12 border-bottom my-4"></div> <div class="purchase-plans-header flex marg-t-20">
                        <span class="course-name w-25">課程名稱</span>
                        <span class="course-status txt-center">課程狀態</span>
                        <span class="original-price txt-center">售價</span>
                        <span class="price txt-right">付款金額</span>
                    </div>




                    @foreach (var item in Model.cartpartialViewModels)
                    {
                        @Html.Partial("_CartPartialCard", item);
                    }



                    @*購物車是空的*@
                    @*<div class="pt-6rem">
                            <div class="vertical-horizontal-center pad-tb-100">
                                <div class="text-center">
                                    <img alt="Empty shopping cart" class="marg-b-10"
                                         src="https://hahow.in/static/media/empty-box.e2bf3c3b.svg" style="width: auto;">
                                    <div class="marg-b-10 text-white">購物車是空的，來去逛逛？</div><a href="#">
                                        <button class="sc-1a6j6ze-0 fBQVEd">@Html.ActionLink("探索課程", "All", "Courses", null, new { @class = "text-white text-decoration-none" })</button>
                                    </a>
                                </div>
                            </div>
                        </div>*@
                </div><!-- 我收藏的課程 -->
                <div class=" cart-area bookmark-area marg-t-60 hidden-xs">
                    <h4 class="underline m-3">
                        <span aria-hidden="true" class="fa fa-bookmark"></span>
                        <span class="marg-l-10">我收藏的課</span>
                    </h4>
                    <hr>
                    <div class="col-12 border-bottom my-4"></div>
                    <!-- 課程卡 -->
                    <div class="container-md">
                        <div class="row">


                            @foreach (var item in Model.courseCardViewModels)
                            {
                                @Html.Partial("CartCourseTemplate", item)
                            }
                        </div>
                    </div>


                </div>
                @*載入更多*@
                @*<div class="load-more-bookmark flex align-items-center marg-t-60">
                        <div class="line flex-1"></div>
                        <button class="sc-1a6j6ze-0 iPSzms">載入更多</button>
                        <div class="line flex-1"></div>
                    </div>*@

            </div>




        </div>
    </div>

</main>