@model Tachey001.ViewModel.GroupOrderRecord

@Styles.Render("~/Assets/css/orders.css")

@{
    ViewBag.Title = "訂單紀錄";
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}

<div class="container mb-4 checked-btn">
    <div class="row justify-content-between">
        <div class="col-12 text-center my-5">
            <h2 class="text-white"><i class="fab fa-wpforms mx-3"></i>訂單紀錄</h2>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center py-3">
            <button onclick="location.href='@Url.Action("Orders", "Member",new { type=1})'" type="button"
                    class="order shadow-sm w-100 py-2 d-flex flex-column align-items-center change-btn position-relative"
                    id="od-success">
                <div class="position-absolute btn-tape" id="order"></div>
                <h2><i class="far fa-2x fa-check-circle"></i></h2>
                <h6 class="text-white">已完成訂單</h6>
            </button>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center py-3">
            <button onclick="location.href='@Url.Action("Orders", "Member",new { type=2})'" type="button"
                    class="pay change-btn shadow-sm w-100 py-2 d-flex flex-column align-items-center position-relative"
                    id="od-pay">
                <div class="position-absolute btn-tape" id="pay"></div>
                <h2><i class="far fa-2x fa-clock"></i></h2>
                <h6 class="text-white">待付款訂單</h6>
            </button>
        </div>

        @*<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center py-3">
            <button onclick="location.href='@Url.Action("Orders", "Member",new { type=3})'" type="button"
                    class="error change-btn shadow-sm w-100 py-2 d-flex flex-column align-items-center position-relative"
                    id="od-error">
                <div class="position-absolute btn-tape" id="error"></div>
                <h2><i class="far fa-2x fa-times-circle"></i></h2>
                <h6 class="text-white">失效訂單</h6>
            </button>
        </div>*@
        @*<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 text-center py-3">
            <button onclick="location.href='@Url.Action("Orders", "Member",new { type=4})'" type="button"
                    class="record change-btn shadow-sm w-100 py-2 d-flex flex-column align-items-center position-relative"
                    id="od-record">
                <div class="position-absolute btn-tape" id="record"></div>
                <h2><i class="far fa-2x fa-arrow-alt-circle-down"></i></h2>
                <h6 class="text-white">稅換紀錄</h6>
            </button>
        </div>*@
    </div>
</div>

@if (ViewBag.id == 1)
{
    foreach (var item in Model.Success)
    {
        @Html.Partial("_RecordCardSuccess", item);
    }
}
else if (ViewBag.id == 2)
{
    foreach (var item in Model.Success)
    {
        @Html.Partial("_RecordCardWait", item);
    }
}
else if (ViewBag.id == 3)
{
    foreach (var item in Model.Other)
    {
        @Html.Partial("_RecordCardError", item);
    }
}

else if (ViewBag.id == 0)
{
    <div class="container mb-5">
        <div class="row px-3">
            <div class="col-12  text-center py-5 text-black-20">
                <div class="my-5">
                    <i class="fas fa-box-open fa-6x"></i>
                    <h6>哎呀，沒有<span id="emptyText">已完成訂單</span>喔～</h6>
                </div>
            </div>
        </div>
    </div>
}




@*<div class="container mb-5">
        <div class="row px-3">
            <div class="col-12 bg-white text-center py-5 text-black-20">
                <div class="my-5">
                    <i class="fas fa-box-open fa-6x"></i>
                    <h6>哎呀，沒有<span id="emptyText">已完成訂單</span>喔～</h6>
                </div>
            </div>
        </div>
    </div>*@




@Scripts.Render("~/Assets/js/orders.js")