@model Tachey001.ViewModel.Member.MemberGroup
@Styles.Render("~/Assets/js/slick/slick.css")
@Styles.Render("~/Assets/js/slick/slick-theme.css")
@Styles.Render("~/Assets/css/hahow-point.css")
@{
    ViewBag.Title = "Point";
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}

<!-- 標題 -->
<header class="relative flex">
    <img alt="hp-hero" class="header-img absolute"
         src="/Assets/img/point-history-header.jpg" width="">
    <h1 class="">Hahow Point</h1>
</header>

<div class="container">

    <!-- 內容 -->
    <div class="row">
        <div class="col-xl-4">

            <!-- 目前擁有HP -->
            <div class="hp-summary card hp-summery-card">
                <div class="ta-l">
                    <div class="hp-summery-card-body text-center" >
                        <div>目前擁有</div>
                        <div class="marg-t-10">
                            @if (Model.pointViewModels.Count == 0)
                            {
                                <strong>0</strong>
                            }
                            else
                            {
                                foreach (var item in Model.pointViewModels)
                                {
                                    <strong>@(item.Point)</strong>
                                    break;
                                }
                            }
                            <small> HP</small>
                        </div>
                        <div>
                            <span>
                                @if (Model.pointViewModels.Count == 0)
                                {
                                    <span class="">= NT$ 0</span>
                                }
                                else
                                {
                                    foreach (var item in Model.pointViewModels)
                                    {
                                        <span class="">= NT$ @(item.Point / 100)</span>
                                        break;
                                    }
                                }
                                <span class="">
                                    <span data-tip="true" data-for="tooltip-兌換比率為 100 : 1" aria-hidden="true" class="fas fa-question-circle" currentitem="false"></span>
                                    <!-- 彈跳提示 -->
                                    <div class="exchange type-dark place-top" id="tooltip-兌換比率為 100 : 1" data-id="tooltip">
                                        <span>
                                            兌換比率為 100 : 1
                                        </span>
                                    </div>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="pad-tb-15 pad-rl-10 text-center">
                        <!-- js edit -->
                        <div calss="form-wrap">
                            0&nbsp;HP 將於本月底<a class="link"
                                              href="https://help.hahow.in/關於-hahow-point-學習點數機制/hahow-point-使用時間限制"
                                              target="__blank">過期</a>&nbsp;<span class="">
                                <span data-tip="true"
                                      data-for="tooltip-獲得之點數"
                                      aria-hidden="true"
                                      class="fas fa-question-circle"
                                      currentitem="false"></span>
                                <!-- 彈跳提示 -->
                                <div class="expired type-dark place-top"
                                     id="tooltip-獲得之點數"
                                     data-id="tooltip">
                                    <span>
                                        2020/06/01 ~ 2020/06/31
                                        獲得之點數
                                    </span>
                                </div>
                            </span>
                        </div>
                        <!-- js edit -->
                    </div>
                </div>
            </div>

            <!-- 規則說明 -->
            <div class="hp-summary card pad-t-30 pad-b-20 hp-rule-card-wrapper">
                <div class="ta-l">
                    <div class="hp-rule-card">
                        <div class="hp-rule-card-text v-align-baseline marg-b-15">
                            <p class="marg-b-0">認真上課學習提升HP！<br>購課最高可折抵 20%</p><img alt="hp-icon" class="hp-rule-card-icon"
                                                                                   src="/Assets/img/frog-hp.png">
                        </div><a href="/hp-rule">
                            <button class="rule-btn">
                                HP
                                規則說明 <span aria-hidden="true"
                                           class="fas fa-play"></span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- HP 提升小秘訣 -->
            <div class="hp-summary card hp-tips-card">
                <h4 class="hp-secret pad-tb-15 marg-tb-0">HP 提升小秘訣</h4>
                <div class="ta-l">
                    <!-- slick slider start -->
                    <div class="slick-slider text-center marg-t-5 marg-b-15 slick-initialized"
                         dir="ltr">
                        <!-- <div class="lukh2r-0 dIMQSS slick-arrow slick-prev"
                                direction="left"></div> -->
                        <div class="slick-list">
                            <div data-index="-1" tabindex="-1"
                                 class="slick-slide slick-cloned"
                                 aria-hidden="true" style="width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            讓學習變成你的習慣
                                        </div>
                                        <div class="marg-b-10">
                                            每日登入 Hahow
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            50 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="0" class="slick-slide" tabindex="-1"
                                 aria-hidden="true"
                                 style="outline: none; width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            與老師教學相長
                                        </div>
                                        <div class="marg-b-10">
                                            填寫課程評價
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            1,000 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="1" class="slick-slide" tabindex="-1"
                                 aria-hidden="true"
                                 style="outline: none; width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            檢視自己的學習效果
                                        </div>
                                        <div class="marg-b-10">
                                            交課程第一份作業
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            2,500 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="2" class="slick-slide" tabindex="-1"
                                 aria-hidden="true"
                                 style="outline: none; width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            有開始有機會
                                        </div>
                                        <div class="marg-b-10">
                                            看完課程第一單元
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            500 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="3"
                                 class="slick-slide slick-active slick-current"
                                 tabindex="-1" aria-hidden="false"
                                 style="outline: none; width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            持之以恆獎
                                        </div>
                                        <div class="marg-b-10">
                                            看完課程 60% 的單元
                                        </div><span class="slide sm text-center">
                                            +
                                            2,500 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="4" class="slick-slide" tabindex="-1"
                                 aria-hidden="true"
                                 style="outline: none; width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            100%！100%！100％！
                                        </div>
                                        <div class="marg-b-10">
                                            看完課程所有單元
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            5,000 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="5" class="slick-slide" tabindex="-1"
                                 aria-hidden="true"
                                 style="outline: none; width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            好學校入學禮
                                        </div>
                                        <div class="marg-b-10">
                                            註冊 Hahow
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            1,000 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="6" class="slick-slide" tabindex="-1"
                                 aria-hidden="true"
                                 style="outline: none; width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            讓學習變成你的習慣
                                        </div>
                                        <div class="marg-b-10">
                                            每日登入 Hahow
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            50 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="7" tabindex="-1"
                                 class="slick-slide slick-cloned"
                                 aria-hidden="true" style="width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            與老師教學相長
                                        </div>
                                        <div class="marg-b-10">
                                            填寫課程評價
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            1,000 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="8" tabindex="-1"
                                 class="slick-slide slick-cloned"
                                 aria-hidden="true" style="width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            檢視自己的學習效果
                                        </div>
                                        <div class="marg-b-10">
                                            交課程第一份作業
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            2,500 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="9" tabindex="-1"
                                 class="slick-slide slick-cloned"
                                 aria-hidden="true" style="width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            有開始有機會
                                        </div>
                                        <div class="marg-b-10">
                                            看完課程第一單元
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            500 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="10" tabindex="-1"
                                 class="slick-slide slick-cloned"
                                 aria-hidden="true" style="width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            持之以恆獎
                                        </div>
                                        <div class="marg-b-10">
                                            看完課程 60% 的單元
                                        </div><span class="slide sm text-center">
                                            +
                                            2,500 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="11" tabindex="-1"
                                 class="slick-slide slick-cloned"
                                 aria-hidden="true" style="width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            100%！100%！100％！
                                        </div>
                                        <div class="marg-b-10">
                                            看完課程所有單元
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            5,000 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="12" tabindex="-1"
                                 class="slick-slide slick-cloned"
                                 aria-hidden="true" style="width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            好學校入學禮
                                        </div>
                                        <div class="marg-b-10">
                                            註冊 Hahow
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            1,000 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div data-index="13" tabindex="-1"
                                 class="slick-slide slick-cloned"
                                 aria-hidden="true" style="width: 360px;">
                                <div>
                                    <div tabindex="-1"
                                         style="width: 100%; display: inline-block;">
                                        <div class="comment">
                                            讓學習變成你的習慣
                                        </div>
                                        <div class="marg-b-10">
                                            每日登入 Hahow
                                        </div>
                                        <span class="slide sm text-center">
                                            +
                                            50 HP
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="lukh2r-0 zQSfh slick-arrow slick-next"
                                direction="right"></div> -->
                    </div>
                    <!-- slick slider end -->
                </div>
            </div>
        </div>

        <!-- 右邊HP細項 -->
        <div class="col-xl">
            <!-- HP細項 -->
            <div class="hp-history hp-history-table marg-rl-15">
                <div class="ta-l">
                    <div class="hp-tablist text-center" role="tablist">
                        <span class="tab active-tab" role="tab" tabindex="0" id="get-point">已獲點數</span>
                        <span class="tab" role="tab" tabindex="0" id="used-point">已用點數</span>
                    </div>
                    <!-- 已獲點數 -->
                    @if (Enumerable.Count(Model.getpointViewModels) == 0)
                    {
                        <div class="no-stuff text-center vertical-horizontal-center get-point fade out">
                            <div class="pad-tb-30">
                                @*<img alt="No POSITIVE Hahow Point History"
        src="https://hahow.in/static/media/icon-empty.39f7f2df.svg">*@
                                <i class="fas fa-search text-white"></i>
                                <p>目前沒有已用的點數</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.getpointViewModels)
                        {
                            <div class="dynamic-block table-row marg-rl-20 pad-tb-10 get-point fade out">
                                <div class="date">@item.GetTime.ToString("yyyy/MM/dd")</div>
                                <div class="text">
                                    <div class="title">@item.PointName</div>
                                    <div class="message"></div>
                                    <div class="expire-info">有效期限 @item.Deadline.ToString("yyyy/MM/dd")</div>
                                </div>
                                <div class="points pad-rl-5 text-center">
                                    <span class="hp-point sm text-center">
                                        + @item.PointNum HP
                                    </span>
                                </div>
                            </div>
                        }
                    }

                    <!-- 已用點數 -->
                    @if (Enumerable.Count(Model.usedpointViewModels) == 0)
                    {
                        <div class="no-stuff text-center vertical-horizontal-center used-point">
                            <div class="pad-tb-30">
                                <img alt="No POSITIVE Hahow Point History"
                                     src="https://hahow.in/static/media/icon-empty.39f7f2df.svg">
                                <p>目前沒有已獲得的點數</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.usedpointViewModels)
                        {
                            <div class="dynamic-block table-row marg-rl-20 pad-tb-10 used-point">
                                <div class="date">@item.GetTime.ToString("yyyy/MM/dd")</div>
                                <div class="text">
                                    <div class="title">@item.PointName</div>
                                    <div class="message"></div>
                                    <div class="expire-info">有效期限 @item.Deadline.ToString("yyyy/MM/dd")</div>
                                </div>
                                <div class="points pad-rl-5 text-center">
                                    <span class="hp-point sm text-center">
                                        + @item.PointNum HP
                                    </span>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>


        </div>
    </div>
</div>

@Scripts.Render("~/Assets/js/slick/jquery-2.2.0.min.js")
@Scripts.Render("~/Assets/js/slick/slick-1.9.js")
@Scripts.Render("~/Assets/js/slick/slick.js")
@Scripts.Render("~/Assets/js/point.js")

