@model Tachey001.ViewModel.Member.MemberGroup
@*@model PersonalUrl*@
@Styles.Render("~/Assets/css/personal.css")
@Styles.Render("~/Assets/css/card.css")

@{
    ViewBag.Title = "Profile"; Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}
@{ 
    var titleUrl = "https://www.kphoto.com.tw/image/catalog/Product/ASS/58_slate_grey.gif";
    foreach (var i in Model.memberViewModels)
    {
        if (i.Theme != null)
        {
            titleUrl = i.Theme;
        }
    }

}
@{

    //IEnumerable<PersonalUrl> personalUrls = ViewData["PersonalUrls"] as IEnumerable<PersonalUrl>;
    //IEnumerable<Member> members = ViewData["Members"] as IEnumerable<Member>;
}

<div class="container">

    <!-- 內容 -->
    <div class="row">
        <div class="col-xl-3">

            <!-- 關於我 -->
            <div class="user-info marg-b-25 pad-t-0">
                <div class="ta-l">
                    <div class="user-digt">
                        <div class="profile pad-t-45 pad-rl-25 pad-b-20">
                            <div class="profile-image-wrapper marg-b-25">
                                <div class="user-img-block profile-image profile-image-xlg " size="170">
                                    <a class="no-pointer" href="/">
                                        @foreach (var item in Model.memberViewModels)
                                        {
                                            <img src=@(item.Photo) class="user-img">
                                        }
                                    </a>
                                </div>
                                <div class="upload-btn">
                                    <input id="photo_file" type="file" class="update-behind-btn" onchange="uploadTheme(this)">
                                    <div class="click-container">
                                        <button class="cancel-btn-photo" height="50px" width="50px">
                                            <span aria-hidden="true" class="fas fa-cloud-upload-alt"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="username editable">
                                <h3>
                                    @foreach (var item in Model.memberViewModels)
                                    {
                                        @(item.Name)
                                    }
                                    <span class="pan edit-icon" id="name-textarea-pen">
                                        <span aria-hidden="true" class="fas fa-pencil-alt"></span>
                                    </span>
                                </h3>
                                @using (Html.BeginForm("ProfileName", "Member", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="username-input-block" style="display: none;">
                                        <div class="username-input">
                                            <div class="input-wrapper flex relative">
                                                <!-- db edit -->
                                                @Html.EditorFor(m => m.member.Name, new { htmlAttributes = new { @class = "input-element", @id = "name-input-textarea", @Value = ViewBag.name } })
                                                @*<input type="text" class="input-element" id="name-input-textarea" value=@(ViewBag.name)>*@
                                                <!-- db edit -->
                                            </div>
                                        </div>
                                        <div class="txt-center marg-tb-10">
                                            <button class="name-style name-cancel marg-r-5" name="submitButton" value="Cancel">取消</button>
                                            <button class="name-style name-submit marg-l-5" name="submitButton" value="Send">確定</button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="links editable">
                                我的網站連結
                                <span class="pan links-edit-icon" id="website-textarea-pen">
                                    <span aria-hidden="true" class="fas fa-pencil-alt"></span>
                                </span>
                            </div>
                            <!--彈跳視窗-->
                            @using (Html.BeginForm("ProfileConnection", "Member", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div>
                                    <div class="styles-overlay" style="z-index: 10130; align-items: unset; padding: 50px 15px 15vh; display: none;">
                                        <div class="styles-modal">
                                            <h4 class="styles-overlay-title pad-tb-15 text-center">社群網站連結</h4>
                                            <div overflow="hidden" class="">
                                                <div>
                                                    @foreach (var item in Model.memberViewModels)
                                                    {
                                                        @Html.HiddenFor(m => item)
                                                        <div>
                                                            <span>Facebook 個人頁面網址</span>
                                                            <div class="marg-b-15">
                                                                <div class="input-wrapper flex relative">
                                                                    @Html.EditorFor(m => m.member.FbUrl, new { htmlAttributes = new { @class = "input-element", @Value = ViewBag.fbConnection, @placeholder = "https://www.facebook.com/yourAccountId" } })
                                                                    @*<input placeholder="https://www.facebook.com/yourAccountId" class="input-element" data-type="facebook" value=@(ViewBag.fbConnection)>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <span>Google Plus 個人頁面網址</span>
                                                            <div class="marg-b-15">
                                                                <div class="input-wrapper flex relative">
                                                                    @Html.EditorFor(m => item.GoogleUrl, new { htmlAttributes = new { @class = "input-element", @Value = ViewBag.googleConnection, @placeholder = "https://plus.google.com/yourAccountId/posts" } })
                                                                    @*<input placeholder="https://plus.google.com/yourAccountId/posts" class="input-element" data-type="googlePlus" value=@(ViewBag.googleConnection)>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <span>YouTube 頻道</span>
                                                            <div class="marg-b-15">
                                                                <div class="input-wrapper flex relative">
                                                                    @Html.EditorFor(m => item.YouTubeUrl, new { htmlAttributes = new { @class = "input-element", @Value = ViewBag.ytConnection, @placeholder = "https://www.youtube.com/yourChannel" } })
                                                                    @*<input placeholder="https://www.youtube.com/yourChannel" class="input-element" data-type="youtube" value=@(ViewBag.ytConnection)>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <span>Behance 網址</span>
                                                            <div class="marg-b-15">
                                                                <div class="input-wrapper flex relative">
                                                                    @Html.EditorFor(m => item.BehanceUrl, new { htmlAttributes = new { @class = "input-element", @Value = ViewBag.behanceConnection, @placeholder = "https://www.behance.net/yourName" } })
                                                                    @*<input placeholder="https://www.behance.net/yourName" class="input-element" data-type="behance" value=@(ViewBag.behanceConnection)>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <span>Pinterest 網址</span>
                                                            <div class="marg-b-15">
                                                                <div class="input-wrapper flex relative">
                                                                    @Html.EditorFor(m => item.PinterestUrl, new { htmlAttributes = new { @class = "input-element", @Value = ViewBag.pinterestConnection, @placeholder = "https://www.pinterest.com/yourName/" } })
                                                                    @*<input placeholder="https://www.pinterest.com/yourName/" class="input-element" data-type="pinterest" value=@(ViewBag.pinterestConnection)>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <span>個人網站或部落格網址</span>
                                                            <div class="marg-b-15">
                                                                <div class="input-wrapper flex relative">
                                                                    @Html.EditorFor(m => item.BlogUrl, new { htmlAttributes = new { @class = "input-element", @Value = ViewBag.blogConnection, @placeholder = "https://www.yourBlog.com/" } })
                                                                    @*<input placeholder="https://www.yourBlog.com/" class="input-element" data-type="website" value=@(ViewBag.blogConnection)>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                                <div class="txt-right">
                                                    <button class="cancel-btn marg-r-5 style-cancel-btn" name="submitButton" value="Cancel">取消</button>
                                                    <button class="submit-btn marg-l-5 style-submit-btn" name="submitButton" value="Send">確定</button>
                                                </div>
                                                <button class="styles-close-button">
                                                    <span aria-hidden="true" class="fas fa-times"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!--彈跳視窗-->

                        </div>
                        <div class="course c-w">
                            <div><span class="txt-small">已參加</span><span class="hightlight">@(ViewBag.takeCourseCount) 堂課</span></div>
                            <div><span class="txt-small">已開設</span><span class="hightlight">@(ViewBag.giveCourseCount) 堂課</span></div>
                        </div>

                        <!-- 關於我 -->
                        <div class="user-info-edit pad-rl-30 mt-3 c-w">
                            @using (Html.BeginForm("ProfileAbout", "Member", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="info editable">
                                    <h6 class="marg-b-0"><b>關於我</b></h6>
                                    <div class="about-content editable about-content-intro">
                                        <span style="display: flex;">
                                            @foreach (var item in Model.memberViewModels)
                                            {
                                                <p id="intro-p">@(item.About)</p>
                                            }
                                            <span class="pan marg-l-10" id="intro-textarea-pen">
                                                <span aria-hidden="true" class="fas fa-pencil-alt"></span>
                                            </span>
                                        </span>
                                    </div>
                                    <div id="intro-textarea" style="display: none;">
                                        <div class="marg-tb-10 textarea">
                                            @Html.TextAreaFor(m => m.member.About, new { htmlAttributes = new { @class = "textarea-content marg-tb-10 textarea", @Value = ViewBag.about, @placeholder = "簡單介紹一下自己吧！" } })
                                            @*<textarea class="textarea-content marg-tb-10 textarea" id="intro-textarea-content" placeholder="簡單介紹一下自己吧！" rows="2"></textarea>*@
                                        </div>
                                        <div class="txt-right">
                                            <button class="cancel-btn textarea-cancel-btn marg-r-5" name="submitButton" value="Cancel">取消</button>
                                            <button class="submit-btn textarea-submit-btn marg-l-5" name="submitButton" value="Send">確定</button>
                                        </div>
                                    </div>
                                </div>
                            }

                            @using (Html.BeginForm("ProfileExpertise", "Member", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="info editable">
                                    <h6 class="marg-b-0"><b>自己的專長</b></h6>
                                    <div class="about-content editable about-content-expert">
                                        <span style="display: flex;">
                                            @foreach (var item in Model.memberViewModels)
                                            {
                                                <p id="expert-p">@(item.Expertise)</p>
                                            }

                                            <span class="pan marg-l-10" id="expert-textarea-pen">
                                                <span aria-hidden="true" class="fas fa-pencil-alt"></span>
                                            </span>
                                        </span>
                                    </div>
                                    <div id="expert-textarea" style="display: none;">
                                        <div class="marg-tb-10 textarea">
                                            @Html.TextAreaFor(m => m.member.Expertise, new { htmlAttributes = new { @class = "textarea-content marg-tb-10 textarea", @Value = ViewBag.expertise, @placeholder = "有什麼擅長的事情嗎？" } })
                                            @*<textarea class="textarea-content marg-tb-10 textarea" id="expert-textarea-content" placeholder="有什麼擅長的事情嗎？" rows="2"></textarea>*@
                                        </div>
                                        <div class="txt-right">
                                            @*<input type="submit" value="儲存，下一步" class="btn btn-outline-secondary btn-lg px-5" />*@
                                            <button class="cancel-btn textarea-cancel-btn marg-r-5" name="submitButton" value="Cancel">取消</button>
                                            <button class="submit-btn textarea-submit-btn marg-l-5" name="submitButton" value="Send">確定</button>
                                        </div>
                                    </div>
                                </div>
                            }

                            @*.caoJBn {
                                width: 100%;
                                margin-bottom: 10px;
                                min-height: 42px;
                                color: white;
                                background-color: rgb(0, 190, 164);
                                font-weight: 600;
                                line-height: 1.75;
                                border-radius: 6px;
                                box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
                                padding: 0px 20px;
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                }*@

                            @*<div class="sc-19hrkds-1 caoJBn"><div class="toaster-icon pad-tb-15 pad-r-20 marg-r-20"><span aria-hidden="true" class="fa fa-check-circle"></span></div>更新成功</div>*@

                            @using (Html.BeginForm("ProfileInterest", "Member", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="info editable">
                                    <h6 class="marg-b-0"><b>感興趣的事物</b></h6>
                                    <div class="about-content editable about-content-like">
                                        <span style="display: flex;">
                                            @foreach (var item in Model.memberViewModels)
                                            {
                                                <p id="like-p">@(item.InterestContent)</p>
                                            }

                                            <span class="pan marg-l-10" id="like-textarea-pen">
                                                <span aria-hidden="true" class="fas fa-pencil-alt"></span>
                                            </span>
                                        </span>
                                    </div>
                                    <div id="like-textarea" style="display: none;">
                                        <div class="marg-tb-10 textarea">
                                            @Html.TextAreaFor(m => m.member.Interest, new { htmlAttributes = new { @class = "textarea-content marg-tb-10 textarea", @id = "like-textarea-content", @Value = ViewBag.interestContent, @placeholder = "平常喜歡做什麼呢？" } })
                                            @*<textarea class="textarea-content marg-tb-10 textarea" id="like-textarea-content" placeholder="平常喜歡做什麼呢？" rows="2"></textarea>*@
                                        </div>
                                        <div class="txt-right">
                                            <button class="cancel-btn textarea-cancel-btn marg-r-5" name="submitButton" value="Cancel">取消</button>
                                            <button class="submit-btn textarea-submit-btn marg-l-5" name="submitButton" value="Send">確定</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>

            <!-- 分享個人頁面 -->
            <div>
                <section>
                    <div class="user-info marg-b-25">
                        <h4 class="share-text pad-tb-15 marg-tb-0">分享個人頁面</h4>
                        <div class="ta-l">
                            <div class="pad-rl-20 pad-tb-10">
                                喜歡學習過程中的充實與進步嗎？快和朋友一起分享你在 Hahow 的學習紀錄吧！
                                <div class="share-icon-group marg-t-20 marg-b-10">
                                    分享到
                                    <a class="community-icon fb marg-l-5" size="30"></a>
                                    <a class="community-icon google marg-l-5" size="30"></a>
                                    <a class="community-icon plurk marg-l-5" size="30"></a>
                                    <a class="community-icon line marg-l-5" size="30"></a>
                                </div>
                            </div>
                        </div>
                        @*<div class="preview pad-tb-15 pad-rl-30">
                            <button class="preview-btn mwun marg-rl-auto">預覽我的檔案</button>
                        </div>*@
                    </div>
                </section>
            </div>
        </div>

        <!-- 右邊資訊填寫 -->
        <div class="col-xl-9 " style="    color: #f1f1f1;
        background: linear-gradient( 338deg, rgb(127 100 229) 0%, rgb(91 158 190) 100%);
        
    ">
            <!-- 個人頁面 -->
            <section class="marg-b-30">
                <div class="personal-page pad-rl-0">
                    <div class="ta-l">
                        <div class="relative pad-rl-0">
                            <div class="cover-image">
                                <img alt="icon" class="" src=@(titleUrl)>
                            </div>
                            <div class="upload-btn">
                                <input accept=".jpg,.png" id="file" type="file" class="update-behind-btn" @*onchange="uploadTheme(this)"*@>
                                <div class="click-container">
                                    <button class="update-btn" height="50px" width="50px" onclick="file.click()">
                                        <span aria-hidden="true" class="fas fa-cloud-upload-alt"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="marg-rl-25 pad-b-5">
                            <div class="text-context">
                                <div class="tab-block underline marg-b-5" id="text-textarea-pen">
                                    <span contenttext="編輯" aria-hidden="true" class="fas fa-pencil-alt pp-edit pull-right pad-tb-15"></span>
                                </div>
                                @foreach (var item in Model.memberViewModels)
                                {
                                    <p>@(item.Introduction)</p>
                                }

                            </div>
                            <!--編輯框-->
                            @using (Html.BeginForm("ProfileIntro", "Member", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="row text-secondary mt-4" style="display:none;">
                                    <div class="col-xl mb-5">
                                        <!-- The toolbar will be rendered in this container. -->
                                        <div id="toolbar-container"></div>

                                        <!-- This container will become the editable. -->
                                        <div id="editor" class="border">
                                            <!--db edit-->
                                            @Html.TextAreaFor(m => m.member.Introduction, new { htmlAttributes = new { @Value = ViewBag.Introduction } })
                                            <!--db edit-->
                                        </div>
                                    </div>
                                    <div class="txt-right">
                                        <button class="cancel-btn text-cancel-btn marg-r-5" name="submitButton" value="Cancel">取消</button>
                                        <button class="submit-btn text-submit-btn marg-l-5" name="submitButton" value="Send">確定</button>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </section>

            <!-- 我開的課 -->
            <div class="marg-b-30">
                <div class="course-overview underline text-white">
                    <h4>我開的課</h4><span class="spacer"></span><input type="checkbox" checked="">公開我開的課
                </div>
                <!-- 課程卡 -->
                <div class="course-card">
                    <div class="briefs-container row mt-1">
                        @foreach (var item in Model.allCourses)
                        {
                            @Html.Partial("CreateCardTemplate", item)
                        }
                    </div>
                </div>
            </div>

            <!-- 我修的課 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我修的課</h4><span class="spacer"></span>@*<input type="checkbox" checked="">公開我修的課*@
                </div>
                <!-- 課程卡 -->
                <div class="course-card">
                    <div class="briefs-container row mt-1">
                        @foreach (var item in Model.consoleViews)
                        {
                            @Html.Partial("CardTemplate", item)
                        }
                    </div>
                </div>
            </div>

            <!-- 我收藏的課 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我收藏的課</h4><span class="spacer"></span>@*<input type="checkbox" checked="">公開我收藏的課*@
                </div>
                <!-- 課程卡 -->
                <div class="course-card">
                    <div class="briefs-container row mt-1">
                        @foreach (var item in Model.consoleViews)
                        {
                            @Html.Partial("CardTemplate", item)
                        }
                    </div>
                </div>
            </div>

            <!-- 我購買的文章 -->
            @*<div class="marg-b-30">
                    <div class="course-overview underline">
                        <h4>我購買的文章</h4><span class="spacer"></span><input type="checkbox" checked="">公開我購買的文章
                    </div>
                    <div class="course-card">
                        <div class="briefs-container row mt-1">
                            @for (var i = 0; i < 30; i++)
                            {
                                @Html.Partial("CardTemplate")
                            }
                        </div>
                    </div>
                </div>*@

            <!-- 我收藏的文章 -->
            <!--<div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我收藏的文章</h4><span class="spacer"></span><input type="checkbox" checked="">公開我收藏的文章
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">-->
            <!-- 課程卡 -->
            <!--</div>
                </div>
            </div>-->

            <!-- 我的課程作品 -->
            <div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我的課程作品</h4><span class="spacer"></span>@*<input type="checkbox" checked="">公開我的課程作品*@
                </div>
                <!-- 課程卡 -->
                <div class="course-card">
                    <div class="briefs-container row mt-1">
                        @*@for (var i = 0; i < 30; i++)
                            {
                                @Html.Partial("CardTemplate")
                            }*@
                    </div>
                </div>
            </div>

            <!-- 我的願望 -->
            <!--<div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我的願望</h4><span class="spacer"></span><input type="checkbox" checked="">公開我的願望
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">-->
            <!-- 課程卡 -->
            <!--</div>
                </div>
            </div>-->
            <!-- 我收藏的願望 -->
            <!--<div class="marg-b-30">
                <div class="course-overview underline">
                    <h4>我收藏的願望</h4><span class="spacer"></span><input type="checkbox" checked="">公開我收藏的願望
                </div>
                <div class="course-card">
                    <div class="briefs-container brief-col-lg-3 brief-col-md-2 brief-col-sm-2 brief-col-xs-1">-->
            <!-- 課程卡 -->
            <!--</div>
                </div>
            </div>-->


        </div>
    </div>
</div>

@Scripts.Render("~/Assets/js/personal.js")
@section endJS{
    <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/decoupled-document/ckeditor.js"></script>
    <script>
        DecoupledEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                const toolbarContainer = document.querySelector('#toolbar-container');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
